body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2 {
    color: rgb(13, 156, 68);
}

button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    border-radius: 5px;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: black;

}

button:hover{
    color:#FFFFFF;
    background-color:#5c5c5c;
}

@media all and (max-width:30em){
    button{
        display:block;
        margin:0.4em auto;
   }
}

div {
    border-radius: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

input {
    border-radius: 5px;
    border: solid 1px #968d8d;
    padding: 7px;
}